{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <h1>Bienvenido al Sistema de Gestión de Pacientes</h1>
    <p>Seleccione una opción:</p>
    <a href="{% url 'paciente_list' %}" class="btn btn-primary">Ver Pacientes</a>
    <a href="{% url 'cargar_imagen' %}" class="btn btn-primary">Cargar Imagen</a>
    <a href="{% url 'seleccionar_paciente' %}" class="btn btn-primary">Ver Imágenes</a>
    <a href="{% url 'paciente_create' %}" class="btn btn-primary">Cargar Paciente</a>
    <a href="{% url 'modelo_IA' %}" class="btn btn-primary">Diagnosticar</a>
</div>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}

